body {
  font-family: Arial;
  background-color: #f4f6ff;
  padding: 30px;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: white;
  list-style: none;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.high { border-left: 6px solid red; }
.medium { border-left: 6px solid orange; }
.low { border-left: 6px solid green; }

button {
  margin-left: 5px;
}